.App {
  text-align: center;
}

/** {
  margin:  auto;
  padding: auto;
}*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-image {
  background-image:  url('../public/Images/gpu.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.Red {
  color: #f00;
}

.Blue {
  color: #00f;
}

.FloralWhite {
  color: #FFFAF0;
}

Table{
    table-layout: fixed;
    width: 100%;
}
